# Database — Railway PostgreSQL
DATABASE_URL="postgresql://postgres:SXLyVQqHyerTugixXmKXBSsIIoXLexCx@gondola.proxy.rlwy.net:28005/railway"

# API Football   (api-sports.io) — plus de HOST nécessaire
API_FOOTBALL_KEY="8dcaf9c2aaaf50f1341abdf4a7dc838c"

# Server
PORT=3001
NODE_ENV=development

# CORS — Frontend URL
FRONTEND_URL="http://localhost:5173"
